{% macro multiple_player_transactions(transaction_obj=none) %}
    <table>
        <thead>
            <tr><th colspan="4">{{ transaction_obj.players[-1]['player'].transaction_data.source_team_name }}</th></tr>
            <tr><td colspan="4" class="left-align">{{ timestamp_to_datetime(transaction_obj.timestamp) }}<td></tr>
        </thead>
        {% for player in transaction_obj.players %}
            {{ player_row_macro(player['player']) }}
        {% endfor %}
    </table>
{% endmacro %}

{% macro single_player_transaction(transaction_obj=none) %}
    <table>
        {% set player_obj = transaction_obj.players['player'] %}
        <thead>
            {% if transaction_obj.type == "add" %}
                <tr><th colspan="4">{{player_obj.transaction_data.destination_team_name}}</th></tr>
            {% else %}
                <tr><th colspan="2">{{player_obj.transaction_data.source_team_name}}</th></tr>
            {% endif %}
            <tr><td colspan="4" class="left-align">{{ timestamp_to_datetime(transaction_obj.timestamp) }}<td></tr>
        </thead>
        {{ player_row_macro(player_obj) }}
    </table>
{% endmacro %}

{% macro player_row_macro(player_obj) %}
    <tr>
        {% if player_obj.transaction_data.type == "add" %}
            <td class="status-icon"><span class="add-player-icon">&#43;</span></td>
        {% else %}
            <td class="status-icon"><span class="drop-player-icon">&#8722;</span></td>
        {% endif %}
        <td class="player-name">{{ player_obj.name.full }}</td>
        <td class="team-details">{{ player_obj.editorial_team_abbr }}</td>
        <td class="team-details">{{ player_obj.display_position }}</td>
    </tr>
{% endmacro %}